:root {
  --main-color: #20c3f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  body {
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: #192056;
  }
}

.setting-box {
  position: fixed;
  left: -250px;
  top: 0;
  background-color: #3a2a6e;
  z-index: 100;
  width: 250px;
  min-height: 50vh;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5%;
  border-top-left-radius: 0;
  transition: 0.5s;
  .setting-sider {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
    color: #192056;
    .fa-gear {
      width: 30px;
      padding: 8px 0;
    }
  }
  .option-box {
    padding: 10px;
    background-color: #644cae;
    text-align: center;
    margin: 10px;
    border-radius: 2%;
    h3 {
      margin: 0;
      text-transform: uppercase;
      color: var(--main-color);
      font-weight: 600;
    }
  .colors-list {
      list-style: none;
      text-align: center;
      padding: 0;
      padding-top: 20px;
      li {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #192056;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        transition: 0.5s ease;
      }
      .active {
        opacity: 1;
        border: 2px solid #fff;
      }
       li:first-child {
        background-color: var(--main-color);
      }
      li:nth-child(2) {
        background-color: #ff9900;
      }
      li:nth-child(3) {
        background-color: #f72d93;
      }
      li:nth-child(4) {
        background-color: #c00053;
      }
      li:nth-child(5) {
        background-color: #b40bb5;
      } 
    }
  }
}

.setting-box.open {
  left: 0;
}

.landing-page {
  width: 100%;
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
  }

  .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: #fefcff;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0;
    transition: 0.5s ease;
    cursor: pointer;
    .x {
      color: var(--main-color);
      font-size: 1.5em;
      font-weight: 700;
      transition: 0.5s ease;
    }
  }
  .logo:hover {
    color: var(--main-color);
    .x:hover {
      color: #fefcff;
    }
  }
  .links {
    display: flex;
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 20px;
    gap: 1em;
    cursor: pointer;
    li a {
      color: #fefcff;
      text-decoration: none;
      transition: 0.5s ease;
    }

    li a:hover,
    li a.active {
      color: var(--main-color);
    }
  }

  .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
    .img {
      width: 75%;
      height: 70vh;
      background-image: url(../Images/06.jpg);
      background-position: center;
      background-size: cover;
      background-color: var(--main-color);
      border-radius: 50%;
      margin-top: 5em;
    }
  }
  .intro {
    width: 100%;
    h2 {
      color: #fefcff;
      font-size: 2em;
      font-weight: 700;
      margin-top: 2.1em;
      .line {
        color: var(--main-color);
        margin: 0;
      }
    }
    h1 {
      color: #fefcff;
      font-size: 3em;
      font-weight: 700;
      margin-top: 1em;
      .h {
        color: var(--main-color);
      }
      .last-name {
        color: var(--main-color);
      }
    }
    p {
      color: #fefcff;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1em;
    }
    button {
      margin-top: 20px;
      background-color: var(--main-color);
      border: none;
      border-radius: 25px;
      color: #fefcff;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition: 0.7s ease;
      cursor: pointer;
    }
    button:hover {
      background-color: #fefcff;
      color: var(--main-color);
    }
  }
}

.section {
  min-height: 50vh;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      background-color: #3a2a6e;
      width: 21.25em;
      box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
      border-radius: 10px;
      padding: 25px;
      margin: 15px;
      transition: 0.7s ease;

      .icon {
        color: var(--main-color);
        font-size: 8em;
        text-align: center;
      }
      h2 {
        color: #fefcff;
        text-align: center;
      }
      p {
        color:#b4b2b5;
        margin-top: 15px;
        text-align: center;
      }
    }
    .card:hover {
      transform: scale(1.1);
    }
  }
}
.hr {
  width: 75%;
  border: solid 1px var(--main-color);
  border-radius: 10%;
  margin-bottom: 20px;
  margin-left: 240px;
}
.about-header {
  h2 {
    color: var(--main-color);
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }
  p {
    color: #fefcff;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
  }
}

.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  .img-box {
    flex: 1;
    text-align: center;
    img {
      width: 50%;
      background-color: var(--main-color);
      border-radius: 5%;
    }
  }
  .info-box {
    flex: 1;
    h2 {
      font-weight: bold;
      font-size: 35px;
      color: var(--main-color);
      margin-bottom: 2em;
    }
  }
  .box-content {
    height: 35vh;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin-right: 25px;
    margin-top: 10px;
    position: relative;
    width: 76.5%;
    .bord {
      border-left: 2px solid var(--main-color);
      border-radius: 10%;
      height: 250px;
      position: absolute;
      left: 50%;
      top: 10%;
      margin-left: -4px;
    }
    .box-right {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 20px;
    }
    .box-left {
      padding-left: 20px;
    }
    h4 {
      color: #fefcff;
      font-size: 1.3em;
      font-weight: 600;
      padding-top: 2em;
    }
    p {
      color: #b4b2b5;
      font-size: 1.1em;
      font-weight: 500;
    }
  }
}
.button {
    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
    color: #fefcff;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: 0.7s ease;
    cursor: pointer;
    margin-top: 5em;
}
  button:hover {
    background-color: #fefcff;
    color: var(--main-color);
  }


